/*font-family: 'Noto Sans', sans-serif;*/
@font-face {
    src: url("/fonts/Recoleta-RegularDEMO.otf");
    font-family: "Recoleta";
}
body{
    margin: 0 auto;
    padding: 0;
    background-color: #e5e5e5;
}
.content{
    max-width: 1550px;
    margin: 0 auto;
}
.container{
    padding: 0 130px;
}
.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.col{
    display: flex;
    flex-direction: column;
}
h1 h2 h3 h4 h5 p {
    margin: 0;
    padding: 0;
}
.title{
    font-family: 'Recoleta';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 65px;
    margin: 0;
}
.text{
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
}
#hero-section{
    background-color: #163A24;
    width: 100%;
}
.nav{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.nav-list{
    list-style-type: none;
    display: flex;
    align-items: center;
}
.nav-item{
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #FBFAF7;
    margin-left: 24px;
}
.nav-btn{
    background: #198C36;
    border: none;
    border-radius: 160px;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #FBFAF7;
    padding: 15px 25px;
    cursor: pointer;
}
.hero{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hero-title{
    width: 391px;
    height: 196px;
    color: #FBFAF7;
    margin-bottom: 18px;
}
.hero-text{
    width: 475px;
    height: 81px;
    color: #FBFAF7;
    margin: 0;
}
.hero-img{
    margin-left: 22px;
    width: 55%;
}
.info-sec-1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 130px;
}
.info-img{
    width: 492px;
    height: 510px;
    margin-right: 100px;
}
.info-title{
    width: 325px;
    height: 108px;
    color: #163A24;
}
.info-text{
    width: 374px;
    height: 54px;
    color: #163A24;;
}
.info-sec-2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 13px;
}
.info-img2{
   width: 492px;
    height: 423px;
    margin-left: 112px;
}
.partners-title{
    text-align: center;
    color: #163A24;
    margin-top: 115px;
    margin-bottom: 65px;
}
.partners-list{
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.partners-item{
    margin: 0 43px;
}
#safe{
    background-color: #163A24;
    margin-top: 114px;
    padding-bottom: 140px;
}
.safe-title{
    text-align: center;
    color: #FBFAF7;
    padding: 66px 0;
}
.safe-list{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}
.safe-item{
   text-align: center;
}
.safe-text{
    text-align: center;
    color: #FBFAF7
}
.safe-text2{
    text-align: center;
    color: #FBFAF7;
}
#artists{
    background-color: #F2EFE6;
    padding: 140px 130px;
    display: flex;
    justify-content: center;
}
.artists-desc{
   margin-left: 196px;
}
.artists-title{
    width: 740px;
    height: 108px;
    text-align: center;
    color: #163A24;

}
.artists-text{
    width: 760px;
    height: 54px;
    margin-top: 27px;
    margin-bottom: 7px;
    text-align: center;
    color: #163A24;
}
.artists-img{
    box-sizing: border-box;
}
#characters{
    margin-top: 167px;
    margin-bottom: 114px;
}
.characters-title{
    width: 338px;
    height: 108px;
    margin-bottom: 27px;
}
.characters-text{
    width: 379px;
    height: 81px;
}
.services-title{
    text-align: center;
    color: #163A24;
}
.services-text{
    text-align: center;
    color: #163A24;
    margin-top: 26px;
    margin-bottom: 18px;
}
.services-body{
    display: flex;
    justify-content: center;
    padding-bottom: 120px;
}
.card{
    width: 353px;
    height: 393px;
    padding: 50px 40px;
    box-sizing: border-box;
    background-color: #FBFAF7;
    box-shadow: 5px 5px 20px #E9E4D5;
    border-radius: 15px;
}
.card:nth-child(2){
    margin: 0 40px;
    height: 430px;
}
.card:hover{
    box-shadow: 0 0 20px #b6adad;
}
.card-title{
    font-family: 'Recoleta';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 32px;
    color: #163A24;
}
.card-text{
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #163A24;
}
.card-list{
    padding: 0 15px;
}
#price{
    background-color: #F2EFE6;
    padding: 115px 0 125px 0;
}
.price-title{
    font-size: 47px;
    line-height: 54px;
    text-align: center;
    color: #163A24;
}
.price-text{
    text-align: center;
    color: #163A24;
    margin-top: 26px;
    margin-bottom: 20px;
}
.price-sec{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 45px;
}
.pricetext{
    width: 260px;
    height: 54px;
    margin: 0;
    margin-bottom: 13px;
    text-align: center;
}
.price-min{
    font-size: 28px;
    line-height: 32px;
    text-align: center;
    color: #163A24;
}
.price-img{
    margin: 0 35px 0 30px;
}
.price-img:nth-child(4){
    margin: 0 108px 0 35px;
}
#fullprice{
    width: 290px;
    height: 183px;
    padding-top: 40px;
    box-sizing: border-box;
    background-image: url("/images/price-img3.svg");
    background-repeat: no-repeat;
    background-position: center;
}
.price-col{
    width: 20%;
}
.price-btn{
    display: inherit;
    margin: 0 auto;
    width: 244px;
    height: 52px;
    padding: 15px 25px;
    background: #198C36;
    border: none;
    border-radius: 160px;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #FBFAF7;
    cursor: pointer;
}
#e-book{
    padding: 130px 0;
}
.e-book-desc{
    margin-right: 130px;
}
.e-book-title{
    width: 360px;
    height: 108px;
    color: #163A24;
}
.e-book-text{
    width: 287px;
    height: 27px;
    color: #163A24;
    margin-top: 28px;
    margin-bottom: 20px;
}
.e-book-btn{
    width: 191px;
    height: 52px;
    background: #198C36;
    border-radius: 160px;
    border: none;
    padding: 15px 25px;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #FBFAF7;
    cursor: pointer;
}
#banner{
    display: flex;
    justify-content: space-between;
    background-color: #163A24;

}
.banner-desc{
    margin-top: 114px;
}
.banner-title{
    text-align: center;
    color: #FBFAF7;
}
.banner-text{
    margin-top: 26px;
    margin-bottom: 18px;
    text-align: center;
    color: #FBFAF7;
}
.banner-btn{
    width: 258px;
    height: 52px;
    display: flex;
    align-self: center;
    box-sizing: border-box;
    padding: 15px 22px;
    background: #FAB5A0;
    border: none;
    border-radius: 160px;
    text-align: center;
    color: #163A24;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    cursor: pointer;
}
#signup{
    background: #F2EFE6;
}
.signup-sec{
    display: flex;
    justify-content: space-between;
    padding-top: 60px;
    padding-bottom: 60px;
}
.signup-title{
    color: #163A24;
}
.signup-text{
    font-size: 18px;
    line-height: 27px;
    color: #163A24;
    margin-top: 26px;
}
.input-group{
    width: 590px;
    height: 54px;
    box-sizing: border-box;
    display: flex;
}
.input{
    width: 553px;
    height: 53px;
    padding-left: 15px;
    background: #FFFFFF;
    border: 1px solid #F2EFE6;
    border-radius: 255px;
}
.input:focus{
    outline: none;
    box-shadow: 2px 2px 15px #e5e5e5;
}
.signup-btn{
    width: 111px;
    height: 57px;
    position: absolute;
    margin-left: 480px;
    border: none;
    background: #15762E;
    border-radius: 160px;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #FBFAF7;
    cursor: pointer;
}
.privacy-text{
    width: 524px;
    height: 42px;
    margin-top: 11px;
    margin-bottom: 0;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #163A24;
}
.privacy-text span{
    color: #198C36;
}
#footer{

}
.footer-body{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 50px;
}
.footer-title{
    width: 242px;
    height: 36px;
    font-size: 24px;
    line-height: 36px;
    color: #163A24;
}
.icon-list{
    list-style-type: none;
    display: flex;
}
.icon-item{
    margin-left: 15px;
}
.footer-links{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-text{
    font-size: 14px;
    line-height: 21px;
    color: #163A24;
}
.footer-list{
    list-style-type: none;
    display: flex;
}
.footer-item{
    margin-left: 15px;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #198C36;
}


